<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>办案材料助手</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>png</string>
				<string>jpg</string>
				<string>jpeg</string>
				<string>docx</string>
				<string>doc</string>
				<string>xlsx</string>
				<string>xls</string>
				<string>csv</string>
				<string>md</string>
				<string>txt</string>
				<string>mp3</string>
				<string>mp4</string>
				<string>mov</string>
				<string>wav</string>
				<string>m4a</string>
				<string>aac</string>
				<string>flac</string>
				<string>ogg</string>
				<string>wma</string>
				<string>m4v</string>
				<string>avi</string>
				<string>mkv</string>
				<string>webm</string>
				<string>flv</string>
				<string>tif</string>
				<string>tiff</string>
				<string>bmp</string>
				<string>gif</string>
				<string>heic</string>
				<string>webp</string>
				<string>pptx</string>
				<string>ppt</string>
				<string>xlsm</string>
				<string>tsv</string>
				<string>ods</string>
				<string>html</string>
				<string>htm</string>
				<string>epub</string>
				<string>json</string>
				<string>xml</string>
				<string>zip</string>
				<string>markdown</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Convertible Documents</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>droplet</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>local.gaocheng.visionocr-markdown</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>办案材料助手</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>此应用需要发送系统通知并打开输出目录。</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
